<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    h1 {font-style: italic; background-color: burlywood;}
    p {background-color: rgb(247, 244, 63);}
    span {font-size: larger;}
    </style>
</head>
<body>
    <span>CRUD</span>
    <a href = http://127.0.0.1:8000/create/>새글쓰기</a>
    <h1>{{ post.title }}</h1>
    <p>게시글 번호(id): {{ post.pk }}</p>
    <p>글쓴이: {{ post.author }}</p>
    <p>등록일: {{ post.date }}</p>
    <p>{{ post.body }}</p>
    <button type='button' onclick='location.href="{% url "delete" post.pk %}"'>삭제하기</button>
</body>
</html>